<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _7024Movies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" style="-webkit-appearance:none"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="container justify-content-center">
                <a asp-area="" asp-page="/Index"><img src="https://www.devinlally.com/uploads/6/0/5/4/60548821/favflick_orig.png" class="navbar-image-top" /></a>
            </div>
        </nav>
    </header>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-page="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h5>Thriller Movies</h5>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-page="/DiscoverThriller"><h5>Trending</h5></a>
                                <a class="dropdown-item" asp-page="/MovieReviewsThriller/Index"><h5>favflick Reviews</h5></a>
                                <a class="dropdown-item" asp-page="/MovieReviewsThriller/Create"><h5>Submit Review</h5></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-page="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h5>Comedy Movies</h5>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-page="/DiscoverComedy"><h5>Trending</h5></a>
                                <a class="dropdown-item" asp-page="/MovieReviewsComedy/Index"><h5>favflick Reviews</h5></a>
                                <a class="dropdown-item" asp-page="/MovieReviewsComedy/Create"><h5>Submit Review</h5></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div>
            <img class="center" alt="imagebar" src="https://www.devinlally.com/uploads/6/0/5/4/60548821/favflick-bar_orig.png" />
        </div>
        <div class="container padbottom">
            <h4 class="text-center">&copy; 2020 - FavFlick </h4>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
