@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-center padbottom">
        <h1 class="">Stop wasting time, only watch the BEST!</h1>
        <h2 class="">Filter based on ratings across multiple sites, and your own!</h2>
        <img alt="tired person" class="img-fluid padbottom" src="https://www.besthealthmag.ca/wp-content/uploads/2015/09/Natural-Remedies-for-Fatigue.gif" />
        <p>
            Streaming sites have really helped users gain access to an endless number of movies, either included
            in their subsriptions or for a few dollars a rental. Users are able to search specific movies, get movie
            suggestions based on past history, or see what is trending for other users of that service. However, the
            unlimited options also can cause viewers to cycle through dozens of trailers, never committing to a movie
            due to a "grass is always greener" mentality. What if the next film is even better? I'll add this to my
            list to watch later as I am unsure if I want to watch this one now. What about a thriller? What about a comedy?
            What is trending today?
        </p>
    </div>
    <div class="text-center padbottom">
        <h3>Two hours later...and still unsure what to watch!</h3>
        <p>
            favflick was created as a way to filter the top of the line options per genre to create a short list of
            guarenteed worthy films to watch when you have had enough of endless movie scrolling. Our site is built by
            the public and favflick contributors who choose to put their rating into the mix as well!
        </p>
        <h2 class="">We are constantly growing our genres, so check back for more genre options as we expand!</h2>
        <img alt="people watching tv" class="img-fluid" width="400" src="https://www.pinclipart.com/picdir/big/322-3224873_watch-clipart-family-tv-person-watching-tv-vector.png" />
    </div>
</body>
