@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="">Examples of H1</h1>
    <h2 class="">Examples of H2</h2>
    <h3 class="">Examples of H3</h3>



    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Adding changes to commmit to Github! Here are a few...</p>
</div>
