@page
@model _7024Movies.Pages.MovieReviewsOther.CreateModel

@{
    ViewData["Title"] = "Create";
}

<body>
    <h1>Leave your review</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MovieReviewOther.MovieNameOther" class="control-label"></label>
                    <input asp-for="MovieReviewOther.MovieNameOther" class="form-control" />
                    <span asp-validation-for="MovieReviewOther.MovieNameOther" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieReviewOther.MovieReviewO" class="control-label"></label>
                    <textarea asp-for="MovieReviewOther.MovieReviewO" class="form-control"></textarea>
                    <span asp-validation-for="MovieReviewOther.MovieReviewO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to Audience Reviews</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>

